<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration form</title>
</head>
<body>
    <h2> User Registration Form</h2>

    <form method="post" action="/">
        <label>Name :</label>
        <input type="text"><br><br>
        <label>Age : </label>
        <input type="number"><br><br>
        <lable> Gender :</lable>
      <input type="radio" name="gender" id="male" value="male"><span>Male</span>
      <input type="radio" name="gender" id="female" value="female"><span>Female </span><br><br>
      <label>Phone Number</label>
      <input type="tel">
        <br>
      <button type="submit">Submit</button>
    </form>
    
</body>
</html>

